<footer class="footer">
    <div class="container">
      footer
    </div>
  </footer>
  <script src="/scripts/jquery.min.js"></script>
  <script src="<%= assetFingerprint('/scripts/scripts.js')%>"></script>

</body>
</html>