<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="<%= assetFingerprint('/stylesheets/style.css')%>"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="/"><h1 class="logo">Blog</h1></a>
        <ul class="menu">
          <li>
            <a href="/" , id="userName"></a>
          </li>
        </ul>
      </div>
    </header>
  </body>
</html>
